.vs/
.vscode/
.idea/
bin/
obj/
publish/
**/hmap.dat
**/Config.json
*.old
*.bak
*.packet
*.csproj.user
**/AAEmu.Game.xml
*.aelcf
**/TestResults/
/AAEmu.Game/Properties/PublishProfiles
/AAEmu.Game/ClientData/*
*.sqlite3
