.vs/
.vscode/
AAEmu.Commons/obj/
AAEmu.Game/obj/
AAEmu.Stream/obj/

.idea/
AAEmu.Commons/bin/
AAEmu.Game/bin/
AAEmu.Stream/bin/
AAEmu.Login/bin/
AAEmu.Login/obj/
AAEmu.Tests/bin/
AAEmu.Tests/obj/
AAEmu.Game/Data/compact.sqlite3
AAEmu.Game/Data/Worlds/*/hmap.dat
AAEmu.Game/Config.json
AAEmu.Login/Config.json
publish/
*.old
*.bak
*.packet
/AAEmu.Game/Properties/PublishProfiles
/AAEmu.Game/AAEmu.Game.csproj.user
/AAEmu.Game/AAEmu.Game.xml
*.aelcf

AAEmu.Tests/TestResults/
