.vs/
.vscode/
.idea/
bin/
obj/
publish/
**/hmap.dat
**/Config.Local.json
*.old
*.bak
*.packet
*.csproj.user
*.DotSettings.user
**/AAEmu.Game.xml
*.aelcf
**/TestResults/
**/launchSettings.json
/AAEmu.Game/Properties/PublishProfiles
/AAEmu.Game/ClientData/*
/AAEmu.IntegrationTests/Config.json
*.sqlite3
.server_files
.client_files
.env
