<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
      <target name="console" 
              xsi:type="ColoredConsole" 
              layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true} - ${message} ${exception:format=tostring}" />
      <target name="file" 
              xsi:type="File" 
              fileName="${basedir}/Logs/Server.log" 
              archiveFileName="${basedir}/Logs/Server.{#}.log"
              archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" archiveEvery="Day" maxArchiveFiles="9"
              layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true} - ${message}" 
              keepFileOpen="false" encoding="utf-8" concurrentWrites="false" deleteOldFileOnStartup="true" />
      <target name="errors" 
              xsi:type="File" 
              fileName="${basedir}/Logs/Error.log" 
              archiveFileName="${basedir}/Logs/Error.{#}.log"
              archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" archiveEvery="Day" maxArchiveFiles="9"
              layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${logger:shortName=true} - ${message} ${exception:format=tostring}" 
              keepFileOpen="false" encoding="utf-8" concurrentWrites="false" deleteOldFileOnStartup="true" />
    </targets>

    <rules>
      <logger name="Quartz*" minlevel="Trace" maxlevel="Info" final="true" /> 
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Error" writeTo="errors" />
      <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="file" />
    </rules>
</nlog>
